<html>
    <head>
        <title>JungA's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">JungA's Blog</a></h1>
        </div>

        <div>
            <br />
            <h2><a href="http://twice.jype.com/">TWICE</a></h2>
            <img src="twice.jpg" width="200" height="200">
            <p><strong> What is Love?</strong></p>
            <p><em>published: 09.04.2018</em></p>
            <ul><li>사탕처럼달콤하다는데</li><li>하늘을나는것같다는데</li></ul>
        </div>
        <div>
            <h2><a href="http://www.ygfamily.com/artist/Main.asp?LANGDIV=K&ATYPE=2&ARTIDX=53">WINNER</a></h2>
            <img src="winner.jpg" width="225" height="150">
            <p><strong>EVERYDAY</strong></p>
            <p><em>published: 04.04.2018</em></p>
            <ul><li>영화나볼래조조</li><li>너만좋다면난고고</li></ul>
        </div>

        <div>
            <h2><a href="http://exo-cbx.smtown.com/">EXO-CBX</a></h2>
            <img src="exo-cbx.jpg" width="150" height="225">
            <p><strong>花요일(Blooming Day)</strong></p>
            <p><em>published: 10.04.2018</em></p>
            <ul><li>너의향기가내게</li><li>흠뻑배일수있게</li></ul>
        </div>

    </body>
</html>